<html>
  <head>
    <title>E-Seva IND</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
  <body style="margin:0">
      <div class="header">
     	 <img src="{{ url_for('static', filename='img/india.jpg') }}" class="logo">
      	<h1 class="header_text1">MINISTRY OF HEALTH AND FAMILY WELFARE</h1></br></br>
      	<h3 class="header_text2">Government of India</h3>
      </div>
      <p class="title">
           Movement Pass During Covid-19 Pandemic
      </p>
      <div class="container">
      	<div class="details">
         		<form method="post" action="/login_page">
        <label for="fname">FirstName</label>
        <input type="text" name="fname"><br><br>

        <label for="lname">LastName</label>
        <input type="text" name="lname"><br><br>

        <label for="email">email</label>
        <input type="text" name="email"><br><br>

        <label for="source-state">source-state</label>
        <input type="text" name="source-state"><br><br>

        <label for="source-dt">source-dt</label>
        <input type="text" name="source-dt"><br><br>

        <label for="dest-st">dest-st</label>
        <input type="text" name="dest-st"><br><br>

        <label for="dest-dt">dest-dt</label>
        <input type="text" name="dest-dt"><br><br>

        <label for="pno">pno</label>
        <input type="text" name="pno"><br><br>

        <label for="trip">Date</label>
        <input type="date" name="trip"><br><br>

        <input type="submit">

    </form>
      	</div>
         </div>
  </body>
</html>